name: VCCP Preview

on: 
  push:
    branches:
      - main
      - master
      - deploy/azure/preview

env:
  PACKAGE_SCRIPT: 'npm run deploy'     # The command to use for deployment, must do everything required (npm i, for example)
  PACKAGE_PATH: 'build'                # The resulting build output directory name
  NODE_VERSION: '16.x'                 # The Node.js version to use - only use an older version for legacy projects

concurrency: 
  group: ${{ github.event.repository.name }}
  cancel-in-progress: true

jobs:
  generate-vccp-preview:
    name: 🌐 Generate VCCP Preview
    runs-on: ubuntu-latest
    environment: 
      name: preview
      url: https://${{ steps.short-sha.outputs.sha }}-${{ github.event.repository.name}}.preview.vccp.com/
    steps:
    - name: 📃 Checking Out Code
      uses: actions/checkout@v2
    - name: 🧮 Calculate short SHA 
      uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 8
    - name: ⚙️ Using Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: 🛠️ Build
      run: ${{ env.PACKAGE_SCRIPT }}
    - name: ➰ Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: Build Output ${{ github.event.repository.name}} (${{ github.sha }})
        path: ${{ env.PACKAGE_PATH }}
    - name: 🗜️ Create Zip
      uses: vimtor/action-zip@v1
      with:
        files: ${{ env.PACKAGE_PATH }}
        dest: ftp/${{ github.event.repository.name}}.zip 
    - name: 📡 Publishing To Preview
      uses: SamKirkland/FTP-Deploy-Action@4.1.0
      with:
        server: ${{ secrets.VCCP_PREVIEW_SERVER }}
        username: ${{ secrets.VCCP_PREVIEW_USERNAME }}
        password: ${{ secrets.VCCP_PREVIEW_PASSWORD }}
        local-dir: ftp/
        server-dir: ${{ secrets.VCCP_PREVIEW_ROOT }}/${{ github.event.repository.name}}/${{ github.sha }}/
